.hero {
    background-image: url('../images/starry-night-2.jpg');
    background-size: 100% 100%;
}

address {
   font-style: normal
}

body {
    font-family: 'Montserrat', sans-serif;
}

#tech-blog {
    border: 1px solid blue; 
}

@media screen and (max-width: 980px) {
    #navbar-name {
       justify-content: center;
    }
    #navbar-sections {
        justify-content: center;
    }
}